<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header lang="en" th:replace="fragments/header :: header"></header>

<body id="page-top">

<!-- Navigation -->
<nav lang="en" th:replace="fragments/nav :: nav"></nav>



<!-- About Section -->

<div class="container">

    <h1 class="text-center" >Connected Users</h1>


    <table class="table" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Hostname</th>
            <th scope="col">Client</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="listuser : ${listusers}">
            <th scope="row" th:text= "${listuser.id}"></th>
            <td th:text= "${listuser.username}"></td>
            <td th:text= "${listuser.client}"></td>
            <td th:text= "${listuser.login}"></td>

        </tr>

        </tbody>
    </table>

</div>

</body>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</html>