<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<link href="css/login.css" rel="stylesheet">
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <form method="post" th:action="@{/login}">
                    <div>
                        <input name="username" placeholder="Username" type="text"/>
                    </div>
                    <div>
                        <input name="password" placeholder="Password" type="password"/>
                    </div>
                    <input type="submit" value="Log in"/>
                </form>

            </div>
        </div>
    </div>
</div>



</body>
</html>